<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <title>searchrefiner - WordSuggestion</title>
    <link rel="icon" href="/static/favicon.png" type="image/x-png">
    <link rel="stylesheet" href="/static/spectre.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-icons.min.css" type="text/css">
    <link rel="stylesheet" href="/static/spectre-exp.min.css" type="text/css">
    <link rel="stylesheet" href="/static/vis.min.css" type="text/css">
    <link rel="stylesheet" href="/static/vue-multiselect.min.css" type="text/css">
    <link rel="stylesheet" href="/static/logtail.css" type="text/css">
    <link rel="stylesheet" href="/static/searchrefiner.css" type="text/css">
    <script src="/static/vue.js" type="text/javascript"></script>
    <script src="/static/vue.js" type="text/javascript"></script>
    <script src="/static/vue-infinite-scroll.js" type="text/javascript"></script>
    <script src="/static/lodash.min.js" type="text/javascript"></script>
    <script src="/static/Sortable.min.js"></script>
    <script src="/static/vuedraggable.min.js"></script>
    <style>
        .text-sm {
            line-height: 0.9rem;
        }

        .span-sm {
            font-size: 10px;
            line-height: 0.0rem;
        }

        .span-rg {
            font-size: 13px;
            line-height: 0.1rem;
        }
    </style>
</head>

<body>
<div class="container" id="app">
    <header class="navbar bg-secondary nav-height">
        {{template "sidebar"}}
    </header>
    <div class="panel p-2 mt-2" style="overflow:hidden;margin: auto;max-width: 80%">
        <h2>Word Suggestion</h2>
        <div class="divider"></div>
        <div class="panel-body container">
            <ul style="list-style-type: none;">
                <p v-if="!init">Use the search box above to input your term. Click the back link in the top left corner
                    of the interface to return to the main page.</p>
                <li><span class="span-rg"><strong>Search terms: </strong></span></li>
                <li><input class="panel-body" style="overflow:hidden;width:40%" v-model="word" id="termInputBox" v-on:keyup="loadTerms"></li>
            </ul>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" id="btn-update-tree" v-on:click="loadTerms()">
                <i class="icon icon-forward"></i> Search
            </button>
            <div class="divider"></div>

            <div v-if="busy && !ready" class="loading loading-lg"></div>
            <div class="text-left text-sm text-gray">
                    <span class="span-sm" v-if="init && merged" style="font-size:100%"><strong>[[ wordSuggestions.length
                            ]]</strong> Alternatives Found</span></br>
                <span class="span-sm" v-if="init && !merged" style="font-size:100%"><strong>[[ wordsFromES.length +
                            wordsFromCUI.length ]]</strong> Alternatives Found</span></br>
                <span class="span-sm" v-if="init" style="font-size:100%">In <strong>[[ timeSpend ]]</strong>
                        seconds</span>
            </div>
            <div class="divider"></div>
            <div v-if="init && merged"></br>
                <div style="text-align: center;">
                    <h5>Alternative Words Found</h5>
                </div>
                <div class="divider"></div>
                <ol>
                    <li v-if="init && merged" v-for="item in wordSuggestions" class="pb-2">
                        <span> [[ item.term ]]</span></br>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<script>
    var vm = new Vue({
        delimiters: ["[[", "]]"],
        el: "#app",
        data: {
            word: "",
            size: 20,
            pool: 10,
            merged: true,
            sources: "es,cui",

            wordSuggestions: [],
            busy: false,
            init: false,
            ready: false,

            searchStart: 0,
            searchEnd: 0,
            timeSpend: 0,

            max_pool: 20,
            max_retSize: 10,
            default_pool: 5,
            default_retSize: 5,
            sources: "cui,es",
        },
        methods: {
            loadTerms: function (e) {
                let self = this;
                if ((e != undefined && e.keyCode === 13) || e === undefined) {
                    var el = document.getElementById("btn-update-tree");
                    el.classList.add("loading")
                    ds = []
                    if (ds.length === 0) {
                        self.sources = "cui,es";
                    } else {
                        self.sources = ds.join(",");
                    }
                    self.busy = true;
                    self.ready = false;
                    self.init = false;
                    self.wordSuggestions = [];
                    self.wordsFromCUI = [];
                    self.wordsFromES = [];
                    self.searchStart = new Date().getTime();
                    if (self.size === null) {
                        self.size = 10;
                    }
                    if (self.pool === null) {
                        self.pool = 20;
                    }
                    if (self.word === "") {
                        window.alert("Term is required for search.")
                        self.reset()
                        return
                    }
                    let request = new XMLHttpRequest();
                    request.addEventListener("load", function (ev) {
                        el.classList.remove("loading");
                        let wordSuggestions = [];
                        if (ev.currentTarget.status == 200) {
                            var doc = ev.currentTarget.responseText;
                            console.log(doc)
                            resp = JSON.parse(doc);
                            if (resp.hasOwnProperty("ES") || resp.hasOwnProperty("CUI")) {
                                if (resp["CUI"] != undefined) {
                                    wordsFromCUI = resp["CUI"];
                                } else {
                                    wordsFromCUI = [];
                                }

                                if (resp["ES"] != undefined) {
                                    wordsFromES = resp["ES"];
                                } else {
                                    wordsFromES = [];
                                }
                            } else {
                                wordSuggestions = resp;
                                wordsFromCUI = [];
                                wordsFromES = [];
                            }
                        } else {
                            wordSuggestions = [];
                            wordsFromCUI = [];
                            wordsFromES = [];
                        }
                        self.wordSuggestions = wordSuggestions;
                        self.wordsFromCUI = wordsFromCUI;
                        self.wordsFromES = wordsFromES;
                        self.searchEnd = new Date().getTime();
                        self.timeSpend = (self.searchEnd - self.searchStart) / 1000;
                        self.init = true;
                        self.ready = true;
                        self.busy = false;
                    });
                    request.open("POST", "/api/keywordSuggestor");
                    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    request.send("retSize=" + self.size + "&pool=" + self.pool + "&sources=" + self.sources + "&merged=" + self.merged + "&term=" + self.word);
                }
            }
        }
    })
</script>
</body>

</html>
